# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# VS Code
.vscode

# Ignore Results directory
results/*.json

# Ignore MacOS system files
.DS_Store
